@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 140px;
  padding: 8px;
  border-radius: 4px;
}

.link-button:hover {
  background: #615048;
}

.link-button:focus {
  background: #615048;
}

.link-button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.link-button:disabled {
  background: #E5E5E5;
}

.add-to-favorites-button {
  width: 140px;
  padding: 8px;
  border-radius: 4px;
}

.hotels-search-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 4px;
}

.action-btn-style {
  background: #82B3D3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border: 3px solid transparent;
}

.action-btn-style:hover {
  background: #68A2CAed;
}

.action-btn-style:focus {
  background: #68A2CAed;
}

.action-btn-style:active {
  background: #68A2CAed;
  color: rgba(255, 255, 255, 0.3);
}

.action-btn-style:disabled {
  background: #E5E5E5;;
}

.reset-button.action-btn-style {
  background: none;
}

.reset-button.action-btn-style:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset-button.action-btn-style:focus {
  border: 3px solid #83B3D3;
}

.reset-button.action-btn-style:hover {
  opacity: 0.3;
}

.reset-button.action-btn-style:disabled {
  opacity: 0.1;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.newsletter-input {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 20px;
  border: none;
  width: 452px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #F2F2F2;
}

.catalog-btn {
  font-size: 16px;
  line-height: 20px;
}

.welcome {
  background-color: #82B3D3;
  background-image: url(../images/welcome-background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.newsletter-wrapper {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url(../images/Subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-wrapper-catalog {
  padding-top: 96px;
  padding-bottom: 104px;
}

.hotels-search-wrapper {
  padding: 96px 304px;
}

.catalog-hotels-wrapper {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url(../images/hotels-filter.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px
}

.page-header-logo {
  position: absolute;
  width: 140px;
  margin-left: 70px;
}

.advantages-photo {
  display: block;
}

.no-marker-list {
  list-style-type: none;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 607px;
  margin: 0;
  padding: 0;
  margin-left: 238px;
  align-items: center;
}

.navigation-user {
  margin-left: auto;
  justify-content: end;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-hotels {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin-top: 40px;
}

.infrastructure-container {
  margin-right: 70px;
  min-width: 150px;
}

.accomodation-container {
  margin-right: 140px;
  min-width: 150px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
}

.catalog-filter-list {
  padding: 0;
  margin-top: 32px;
  margin-bottom: 0;
}

.price-container {
  display: flex;
  width: 549px;
  align-items: flex-start;
}

.price-range {
  border: none;
  padding: 0;
}

.price-range-wrapper {
  display: flex;
  margin-top: 32px;
  position: relative;
}

.range-slider-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px 12px 20px;
  width: 103px;
  border: none;
  background-color: #F2F2F2;
}

.range-slider-text {
  line-height: 24px;
  color: black;
  opacity: 0.3;
}

.range-slider-text-min {
  position: absolute;
  left: 106px;
  top: 12px;
}

.range-slider-text-max {
  position: absolute;
  top: 12px;
  right: 12px;
}

.range-slider-input-min {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-right: 2px
}

.range-slider-input-max {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.filter-button-group {
  margin-left: 70px;
}

.price-range-btn {
  margin-bottom: 32px;
  padding: 8px;
  width: 191px;
  border-radius: 4px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  align-items: center;
}

.footer-social {
  width: 142px;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}

.footer-social-item {
  min-width: 47px;
}

.footer-contact {
  max-width: 720px;
  margin-left: 41.5px;
  margin-right: 41.5;
}

.footer-contact-number-link:hover {
  color: #756157;
}

.footer-contact-number-link:focus {
  color: #756157;
}

.footer-contact-number-link:focus {
  color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.made-in {
  max-width: 115px;
  margin-right: 70px;
}

.made-in-logo {
  fill: #000000;
}

.made-in-link:hover .made-in-logo {
  fill: #756157;
}

.made-in-link:focus .made-in-logo {
  fill: #756157;
}

.made-in-link:active .made-in-logo {
  fill: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-item {
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link-enroll {
  text-decoration: none;
  color: #FFFFFF;
  height: 100%;
  padding: 8px 34px;
  margin-right: 70px;
  margin-left: 20px;
  border-radius: 4px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-link::after {
  content: url(../images/arrow-right.svg);;
  position: absolute;
  right: -20px;
}

.welcome-sign {
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-title {
  padding-top: 69px;
}

.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.paragraph-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
  margin-top: 20px;
}

.hotels-search-text {
  width: 592px;
}

.newsletter-text {
  width: 475px;
  margin-left: 362px;
  margin-right: 362px;
}

.advantages-intro {
  color: #333333;
  margin-bottom: 90px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 112px 0 112px;
}

.advantages-item {
  display: flex;

  font-size: 18px;
  line-height: 21px;
}

.advantages-description {
  text-align: center;
  color: #333333;
  padding: 0 85px 0 85px;
}

.advantages-item.blue-background {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-description-highlighted {
  color: #FFFFFF;
}

.advantages-list li:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);

  width: 400px;
}

.advantages-list li:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);

  width: 400px;
}

.advantages-list li:nth-child(7) {
  width: 400px;
}

.advantages-list li:nth-child(5) {
  flex-direction: row-reverse;
}

.advantages-no-logo {
  padding-top: 103px;
  padding-bottom: 121px;
}

.advantages-with-logo {
  padding-top: 80px;
  padding-bottom: 81px;
}

.blue-background .advantages-title {
  padding-top: 90px;
}

.blue-background .advantages-description {
  padding-bottom: 111px;
}

.centering-wrapper {
  text-align: center;
}

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.footer-social-icon {
  fill: #83B3D3;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:focus .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:active .footer-social-icon {
  fill: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.footer-contact-number {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 288px;
  padding: 0;
  margin: 0;
}

.breadcrumbs-link-current {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-item {
  font-size: 18px;
line-height: 23px;
}

.hotel-list-container {
  margin: 0 auto;
  width: 1200px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  margin-left: 70px;
  gap: 20px;
  margin-bottom: 40px;
}

.results-count-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1060px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.results-count {
  width: 538px;
  margin-right: 200px;
}

.select-control {
  font-weight: 400px;
  font-size: 18px;
  line-height: 21px;
  width: 291px;
  margin-right: 70px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.display-mode {
  display: flex;
  column-gap: 8px;
  width: 160px;
  margin: 0;
  padding: 0;
}

.display-mode-button {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4%;
  box-sizing: border-box;
}

.display-mode-button-checked {
  border: 2px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

.display-mode-icon {
  padding: 16px;
}

.hotel-card {
  display: flex;
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-top: 16px;
}

.hotel-card-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.accomodation-price {
  margin: 0;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
  padding: 8px;
  width: 140px;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  column-gap: 8px;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: 70px;
  padding: 0;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px
}

.pagination-link {
  padding: 18px 24px;
}

.pagination-link-last {
  padding: 18px 18px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-item p {
  color: #000000;
  background-color: #ffffff;
}

.pagination-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 60px;
}

.pagination-not-current:hover {
  background: #68A2CA;
}

.pagination-not-current:focus {
    background: #68A2CA;
}

.pagination-not-current:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
